{% extends 'auth_base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}S'inscrire{% endblock %}
{% block description %}Inscrivez-vous pour accéder à des offres d'alternance dédiées aux étudiants. Trouvez des opportunités adaptées à vos compétences et lancez votre carrière dès maintenant.{% endblock %}
{% block url %}{{ path('app_register') }}{% endblock %}

{% block ogTitle %}Jaltup - S'inscrire{% endblock %}
{% block ogUrl %}https://jaltup.com/inscription{% endblock %}
{% block ogImage %}{{ asset('image/jaltup-og.webp') }}{% endblock %}
{% block ogImageAlt %}Jaltup{% endblock %}
{% block ogDescription %}Inscrivez-vous pour accéder à des offres d'alternance dédiées aux étudiants. Trouvez des opportunités adaptées à vos compétences et lancez votre carrière dès maintenant.{% endblock %}

{% block body %}
    <section class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <a href="{{ path('app_offer') }}">
                <img class="mx-auto h-10 w-auto" src="{{ asset('logo/logo_min.svg') }}" alt="Jaltup Logo">
            </a>
            <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">S'inscrire gratuitement</h2>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
            <div class="bg-white px-6 py-12 border border-gray-300 sm:rounded-lg sm:px-12">
                {{ form_start(registrationForm, {'attr': {'class': 'space-y-6'}}) }}
                    <div>
                        <label class="block text-sm font-medium leading-6 text-gray-900">{{ form_label(registrationForm.email, 'Adresse e-mail') }}</label>
                        <div class="mt-2">
                            {{ form_widget(registrationForm.email, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6'}}) }}
                        </div>
                        <div class="text-red-600 text-sm mt-1">
                            <p>{{ form_errors(registrationForm.email) }}</p>
                        </div>
                    </div>
                    <div>
                        <label class="block text-sm font-medium leading-6 text-gray-900">{{ form_label(registrationForm.plainPassword, 'Mot de passe') }}</label>
                        <div class="mt-2">
                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6'}}) }}
                        </div>
                        <div class="text-red-600 text-sm mt-1">
                            <p>{{ form_errors(registrationForm.plainPassword) }}</p>
                        </div>
                    </div>
                    <div>
                        <label class="block text-sm font-medium leading-6 text-gray-900">{{ form_label(registrationForm.firstName, 'Prénom') }}</label>
                        <div class="mt-2">
                            {{ form_widget(registrationForm.firstName, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6'}}) }}
                        </div>
                        <div class="text-red-600 text-sm mt-1">
                            <p>{{ form_errors(registrationForm.firstName) }}</p>
                        </div>
                    </div>
                    <div>
                        <label class="block text-sm font-medium leading-6 text-gray-900">{{ form_label(registrationForm.lastName, 'Nom') }}</label>
                        <div class="mt-2">
                            {{ form_widget(registrationForm.lastName, {'attr': {'class':'block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6'}}) }}
                        </div>
                        <div class="text-red-600 text-sm mt-1">
                            <p>{{ form_errors(registrationForm.lastName) }}</p>
                        </div>
                    </div>
                    <div class="sm:col-span-2 flex items-center text-sm">
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class' : 'h-4 w-4 rounded border-gray-900 border-2 text-gray-900 focus:ring-gray-900'}}) }}
                        <label class="ml-3 block text-sm leading-6 text-gray-900 font-medium">{{ form_label(registrationForm.agreeTerms, 'J\'accepte les conditions d\'utilisation.') }}</label>
                        <div class="text-red-600 text-sm mt-1">
                            <p>{{ form_errors(registrationForm.agreeTerms) }}</p>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="flex w-full border border-gray-900 justify-center rounded-full bg-gray-900 px-3.5 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-transparent hover:text-gray-900">S'inscrire</button>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
            <p class="mt-10 text-center text-sm text-gray-500">
                Déjà inscrit ?
                <a href="{{ path('app_login') }}" class="font-semibold leading-6 text-[#E68C12]">Se connecter</a>
            </p>
        </div>
    </section>
{% endblock %}