{% extends 'auth_base.html.twig' %}

{% block title %}Inscrivez-vous{% endblock %}

{% block body %}
    <div class="absolute inset-x-0 -top-40 -z-40 transform-gpu overflow-hidden blur-3xl sm:-top-80 pointer-events-none" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <section class="flex min-h-full flex-col justify-center py-10 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md space-y-2">
            <h2 class="px-2 sm:px-0 text-center text-2xl font-bold leading-9 tracking-tight text-main">Créez vous un compte Jaltup</h2>
            <p class="text-center text-sm font-normal leading-9 tracking-tight text-main">Vous avez déjà un compte ? <a href="{{ path('app_login') }}" class="font-medium underline">Connectez-vous</a></p>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[580px] px-6 sm:px-12 space-y-6">
            <div>
                {{ form_start(registrationForm, {'attr': {'class':'space-y-6'}}) }}
                    {% if not registrationForm.vars.valid %}
                        <div class="text-left rounded-2xl bg-red-50 p-8 mb-10 border-solid border border-red-500">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <svg class="h-6 w-6 text-red-400" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="ml-3 font-medium text-red-800">
                                    {{ form_errors(registrationForm.email) }}
                                    {{ form_errors(registrationForm.plainPassword) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                     <div>
                        <label class="block font-medium leading-6 text-gray-900">{{ form_label(registrationForm.email, 'Tout d\'abord, entrez votre adresse e-mail') }}</label>
                        <div class="mt-2">
                            {{ form_widget(registrationForm.email, {'attr': {'class':'block w-full rounded-lg border-0 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-400 focus:ring-2 focus:ring-inset focus:ring-second sm:leading-6'}}) }}
                        </div>
                    </div>
                    <div>
                        <div class="flex justify-between">
                            <label class="block font-medium leading-6 text-gray-900">{{ form_label(registrationForm.plainPassword, 'Mot de passe') }}</label>
                            <p class="text-gray-500 text-sm">(6 caractères ou plus)</p>
                        </div>
                        <div class="mt-2">
                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class':'block w-full rounded-lg border-0 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-400 focus:ring-2 focus:ring-inset focus:ring-second sm:leading-6'}}) }}
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="flex w-full justify-center rounded-full bg-main py-3 font-semibold leading-6 text-white shadow-sm hover:bg-main-light transition duration-200">S'inscrire gratuitement</button>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
            <div>
                <p class="text-center text-sm font-normal leading-6 tracking-tight text-main">En continuant votre inscription, vous acceptez nos <a class="font-medium underline">Conditions d'utilisation</a> ainsi que notre <a class="font-medium underline">Politique de confidentialité</a>.</p>
            </div>
        </div>
    </section>
{% endblock %}
