{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}S'inscrire{% endblock %}
{% block description %}Trouvez des offres d'alternance adaptées à vos compétences. Plateforme dédiée aux étudiants en recherche d'opportunités. Inscrivez-vous et lancez votre carrière.{% endblock %}
{% block url %}{{ path('app_offer') }}{% endblock %}

{% block ogTitle %}Jaltup - {% endblock %}
{% block ogUrl %}https://jaltup.com/{% endblock %}
{% block ogImage %}{{ asset('image/jaltup-og.webp') }}{% endblock %}
{% block ogImageAlt %}Jaltup{% endblock %}
{% block ogDescription %}Trouvez des offres d'alternance adaptées à vos compétences. Plateforme dédiée aux étudiants en recherche d'opportunités. Inscrivez-vous et lancez votre carrière.{% endblock %}

{% block body %}
    <section class="bg-gray-900">
        <div class="relative isolate overflow-hidden pt-10">
            <img src="{{ asset('image/jaltup-alternance.webp') }}" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
                <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            <div class="mx-auto max-w-2xl py-32 px-4 sm:px-6 lg:px-8">
                <div class="text-center">
                    <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl">Trouver votre Alternance Rapidement et Facilement</h1>
                    <p class="mt-6 text-lg leading-8 text-gray-300">Jaltup est la première plateforme qui centralise toutes les offres d’alternance vérifiées et à jour en France.</p>
                    <div class="mt-10 flex items-center justify-center gap-x-6">
                        <a href="#offres" class="rounded-full border border-white px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-white hover:text-gray-900 transition duration-100">Commencer ma recherche</a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
                <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
        </div>
    </section>
    <section class="bg-gray-50 px-4 sm:px-6 lg:px-8 pb-16" id="offres">
        <div class="mx-auto max-w-sm md:max-w-2xl lg:max-w-5xl gap-10 pt-10">
            <div class="flex justify-between items-center gap-5">
                <div class="flex gap-x-3 items-center">
                    <p class="font-semibold text-lg">Annonces</p>
                    <p class="border border-gray-500 px-3.5 py-1 rounded-full text-sm">{{ offers.countVisible() }}</p>
                </div>
                <div>
                    <p class="text-xs sm:text-sm text-right text-gray-500">Dernière M.A.J :
                        {% if daySinceLastEdit == 0 %}
                            Aujourd'hui
                        {% endif %}
                        {% if daySinceLastEdit == 1 %}
                            Hier
                        {% endif %}
                        {% if daySinceLastEdit == 2 %}
                            Avant-hier
                        {% endif %}
                        {% if daySinceLastEdit > 2 %}
                            Il y a {{ daySinceLastEdit }} jours
                        {% endif %}
                    </p>
                </div>
            </div>
            <div>
                {{ component('OfferGrid') }}
            </div>
        </div>
    </section>
{% endblock %}
