{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}{{ offer.title }}{% endblock %}
{% block description %}{{ offer.description |slice(0, 140)  }}...{% endblock %}
{% block url %}/offre/{{ offer.slug }}{% endblock %}

{% block ogTitle %}Jaltup - {{ offer.title }}{% endblock %}
{% block ogUrl %}https://jaltup.com/offre{{ path('app_offer_details', {'slug': offer.slug }) }}{% endblock %}
{% block ogImage %}{{ asset('image/jaltup-og.webp') }}{% endblock %}
{% block ogImageAlt %}Jaltup{% endblock %}
{% block ogDescription %}{{ offer.description |slice(0, 140)  }}...{% endblock %}

{% block body %}
    <div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
        <img src="{{ asset('image/jaltup-alternance.webp') }}" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
        <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="mx-auto max-w-6xl px-6 lg:px-8 mt-5">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <nav class="flex" aria-label="Breadcrumb">
                    <ol role="list" class="flex items-center space-x-4">
                        <li>
                            <div>
                                <a href="{{ path('app_offer') }}" class="text-gray-300 hover:text-gray-500 transition duration-100">
                                    <svg class="h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="sr-only">Offres</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center">
                                <svg class="h-5 w-5 flex-shrink-0 text-gray-300" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                    <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                                </svg>
                                <p class="ml-4 text-sm font-medium text-gray-400">{{ offer.category.name }}</p>
                            </div>
                        </li>
                    </ol>
                </nav>
                <h2 class="text-3xl font-bold tracking-tight text-white sm:text-5xl mt-6">{{ offer.title }}</h2>
            </div>
        </div>
    </div>


    <section class="bg-gray-50 px-6 py-8 md:py-16 lg:px-8">
        <div class="max-w-sm md:max-w-2xl lg:max-w-5xl mx-auto">
            <div class="bg-gray-50 grid grid-cols-3 gap-5 sm:gap-10">
                <div class="col-span-3 md:col-span-2">
                    <div class="bg-white rounded-xl p-6 border border-gray-300">
                        <div class="p-5 rounded-lg bg-gray-50">
                            <time class="font-semibold" datetime="{{ offer.createdAt|date("m/d/Y") }}">
                                Publié {% if daysSinceCreation == 0 %}
                                    Aujourd'hui
                                {% endif %}
                                {% if daysSinceCreation == 1 %}
                                    Hier
                                {% endif %}
                                {% if daysSinceCreation == 2 %}
                                    Avant-hier
                                {% endif %}
                                {% if daysSinceCreation > 2 %}
                                    Il y a {{ daysSinceCreation }} jours
                                {% endif %}
                            </time>
                            <div class="mt-6 border-t border-gray-100">
                                <dl class="divide-y divide-gray-100">
                                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                        <dt class="text-sm font-medium leading-6 text-gray-900">Durée</dt>
                                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ offer.intershipDuration }} mois</dd>
                                    </div>
                                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                        <dt class="text-sm font-medium leading-6 text-gray-900">Début de l'alternance</dt>
                                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ offer.intershipStart|date("M. Y", "Europe/Paris") }}</dd>
                                    </div>
                                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                        <dt class="text-sm font-medium leading-6 text-gray-900">Niveau d'étude</dt>
                                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ offer.studyLevel }}</dd>
                                    </div>
                                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                        <dt class="text-sm font-medium leading-6 text-gray-900">Télétravail</dt>
                                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"> {% if offer.remote == true %}Autorisé{% else %}Non{% endif %}</dd>
                                    </div>
                                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                        <dt class="text-sm font-medium leading-6 text-gray-900">Lieu</dt>
                                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 flex items-center gap-x-2">{{ offer.locationCountry }}, {{ offer.locationCity }} {{ ux_icon('circle-flags:fx', {class: 'w-4 h-4'}) }}</dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                        <p class="mt-10">{{ offer.description|raw }}</p>
                    </div>
                </div>
                <div class="col-span-3 md:col-span-1 ">
                    <div class="md:sticky bg-white rounded-xl md:top-10 p-2 border border-gray-300">
                        <div class="mx-auto flex justify-center flex-col">
                            <div class="text-center p-5 rounded-lg" style="background-color: {{ offer.bgColor }}">
                                <div class="flex items-center justify-center">
                                    <img class="rounded-full h-24 w-auto" src="{{ asset('company/'~offer.company.logo) }}" alt="Logo {{ offer.company.name }}"/>
                                </div>
                                <p class="font-semibold mt-3 text-xl">{{ offer.company.name }}</p>
                                <div class="flex justify-center gap-x-1.5 items-center mt-2">
                                    {{ ux_icon('material-symbols:link', {class: 'w-4 h-4 text-gray-500'}) }}
                                    <a href="{{ offer.company.website }}" target="_blank" class="text-sm font-medium text-gray-500">Voir le site</a>
                                </div>
                                <p class="mt-4 text-sm">{{ offer.company.shortDescription }}</p>
                            </div>
                            <div class="py-3 px-2 flex text-center">
                                <a href="{{ offer.sourceLink }}" type="button" target="_blank" class="w-full rounded-full bg-gray-900 px-5 py-4 text-sm font-semibold text-white shadow-sm hover:bg-transparent border border-gray-900 hover:text-gray-900 transition duration-100">Postuler à l'offre</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
