<h1 class="text-green-600">Nouvelle demande de contact du site internet :</h1>
<p>Numéro de demande : {{ contactId }}</p>
<p>{{ createdAt | date('d F Y') | format_date(locale='fr') }} à {{ createdAt | date('H:i') }}</p>
<br/>
<p>Nom/Prénom : {{ fullName }}</p>
<p>Email : {{ emailContact }}</p>
<p>Téléphone : {{ phoneNumber }}</p>
<p>Société : {{ society }}</p>
<p>Sujet : {{ subject }}</p>
<p>Message : {{ message }}</p>
