<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Jaltup - {% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="max-w-6xl mx-auto absolute inset-x-0 top-0 z-50">
            <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
                <div class="flex lg:flex-1">
                    <a href="{{ path('app_offer') }}" class="-m-1.5 p-1.5">
                        <span class="sr-only">Jaltup</span>
                        <img class="h-8 md:h-10 w-auto" src="{{ asset('logo/logo.png') }}" alt="Logo Jaltup">
                    </a>
                </div>
                <div class="flex flex-1 justify-end">
                    {% if app.user %}
                        <a href="{{ path('app_logout')}}" type="button" class="rounded-full border border-white px-3 py-2 text-sm font-semibold text-white hover:bg-white hover:text-gray-900 transition duration-100">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('app_login')}}" type="button" class="rounded-full border border-white px-3 py-2 text-sm font-semibold text-white hover:bg-white hover:text-gray-900 transition duration-100">Se Connecter</a>
                    {% endif %}
                </div>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer class="bg-gray-900">
            <div class="relative isolate overflow-hidden">
                <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
                    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                </div>
                <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 lg:px-8">
                    <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
                        <div class="pb-6">
                            <a href="{{ path('app_offer') }}" class="text-sm leading-6 text-white hover:text-gray-300 transition duration-100">Offres</a>
                        </div>
                        <div class="pb-6">
                            <a href="{{ path('app_subscription') }}" class="text-sm leading-6 text-white hover:text-gray-300 transition duration-100">Premium</a>
                        </div>
                        <div class="pb-6">
                            <a href="{{ path('app_contact') }}" class="text-sm leading-6 text-white hover:text-gray-300 transition duration-100">Contact</a>
                        </div>
                        {% if app.user %}
                            <div class="pb-6">
                                <a href="{{ path('app_logout') }}" class="text-sm leading-6 text-white hover:text-gray-300 transition duration-100">Déconnexion</a>
                            </div>
                        {% else %}
                            <div class="pb-6">
                                <a href="{{ path('app_login') }}" class="text-sm leading-6 text-white hover:text-gray-300 transition duration-100">Connexion</a>
                            </div>
                            <div class="pb-6">
                                <a href="{{ path('app_register') }}" class="text-sm leading-6 text-white hover:text-gray-300 transition duration-100">Inscription</a>
                            </div>
                        {% endif %}
                    </nav>
                    <div class="mt-10 flex justify-center space-x-10">
                        <img src="{{ asset('logo/logo.png') }}" alt="Logo Jaltup" class="h-16 w-auto">
                    </div>
                    <p class="mt-10 text-center text-xs leading-5 text-gray-200">&copy; 2024 Jaltup, SA. Tous droits réservés.</p>
                </div>
                <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
                    <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                </div>
            </div>
        </footer>
    </body>
</html>
