<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Jaltup - {% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
{#        <ul class="bg-green-300">
            <li><a href="{{ path('app_offer') }}">Trouver mon d'alternance ({{ offers.countVisible() }})</a></li>
            <li>Écoles</li>
            <li>Bon plans</li>
            <li><a href="{{ path('app_register') }}">Inscirption</a></li>
            <li><a href="{{ path('app_login') }}">Login</a></li>
        </ul>#}
        <header class="max-w-6xl mx-auto absolute inset-x-0 top-0 z-50">
            <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
                <div class="flex lg:flex-1">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">Jaltup</span>
                        <img class="h-8 md:h-10 w-auto" src="{{ asset('logo/logo.png') }}" alt="">
                    </a>
                </div>
                <div class="flex flex-1 justify-end">
                    <a href="{{ path('app_register') }}" class="text-sm font-semibold leading-6 text-white">S'inscrire <span aria-hidden="true">&rarr;</span></a>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
